body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#mapDiv {
    min-height: 100%;
    max-height: 100%;
}

.simpleGeocoder {
    margin-right: 5px;
}

/* Option 2: Geosearch in nav;
.simpleGeocoder .esriGeocoderContainer {
  width: 180px;
}
.simpleGeocoder .esriGeocoder input {
  width: 118px;
}
@media (max-width: 767px) {
  .navbar-form .form-group {
    float: left;
  }
  .simpleGeocoder {
    margin-right: 7px;
  }
}
*/