body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#mapDiv {
    min-height: 250px;
    max-height: 250px;
    margin-bottom: 20px;
}

#mapLegendDiv {
    height: 250px;
    overflow: scroll;
    margin-bottom: 20px;
}

#mapTitle {
    margin-left: 15px;
}

body > .container {
    padding-bottom: 20px;
}

/*table {*/
    /*border-collapse: ;*/
    /*border-spacing: ;*/
/*}*/
